{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <title>Cipher Techniques</title>
        <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %} " />
        <div id="main">
            <div class="container">
              <nav>
                <div class="nav-fostrap">
                  <ul>
                    <li><a href="home">Home</a></li>
                    <li><a>Top2<span class="arrow-down"></span></a>
                      <ul class="dropdown">
                        <li><a href="">base</a></li>
                        <li><a href="">base</a></li>
                        <li><a href="">base</a></li>
                        <li><a href="">base</a></li>
                      </ul>
                    </li>
                    <li><a>Top1<span class="arrow-down"></span></a>
                      <ul class="dropdown">
                        <li><a href="">Top3</a></li>
                        <li><a href="">Top4</a></li>
                      </ul>
                    </li>
                    <li><a>Top5<span class="arrow-down"></span></a>
                      <ul class="dropdown">
                        <li><a href="">base</a></li>
                        <li><a href="">base</a></li>
                      </ul>
                    </li>
                    <li><a href="">base</a></li>
                    <li><a href="">base</a></li>
                    <li><a href="">base</a></li>
                  </ul>
                </div>
              </nav>
          </div>
          </div>
    </head>
    <body>
      <div class="mbody">
        {%block content%}
      replace me
      {%endblock%}
  </div>
             </body>
</html>