{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <title>Cipher Techniques</title>
        <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %} " />
        <div id="main">
            <div class="container">
              <nav>
                <div class="nav-fostrap">
                  <ul>
                    <li><a href="home">Home</a></li>
                    <li><a>ADFGX<span class="arrow-down"></span></a>
                      <ul class="dropdown">
                        <li><a href="">ADFGX</a></li>
                        <li><a href="">ADFGVX</a></li>
                      </ul>
                    </li>
                    <li><a href="">Affine</a></li>
                    <li><a href="">Atbash</a></li>
                    <li><a href="">Autokey</a></li>
                    <li><a href="">Bazeries</a></li>
                    <li><a href="">Beaufort</a></li>
                    <li><a href="">Bifid</a></li>
                    <li><a>Caesar<span class="arrow-down"></span></a>
                      <ul class="dropdown">
                        <li><a href="">Caesar</a></li>
                        <li><a href="">Caesar Progressive</a></li>
                      </ul> 
                    </li>
                    <li><a href="">Chaocipher</a></li>
                    <li><a>Transposition<span class="arrow-down"></span></a>
                      <ul class="dropdown">
                        <li><a href="">Columnar Transposition</a></li>
                        <li><a href="">Myszkowski Transposition</a></li>
                      </ul>
                    </li>
                    <li><a href="">Keyword</a></li>
                    <li><a href="">Nihilist</a></li>
                    <li><a href="">Simple Substitution</a></li>
                    <li><a>Playfair<span class="arrow-down"></span></a>
                      <ul class="dropdown">
                        <li><a href="">Playfair One Square</a></li>
                        <li><a href="">Playfair Two Square</a></li>
                        <li><a href="">Playfair Three Square</a></li>
                        <li><a href="">Playfair Four Square</a></li>
                      </ul>
                    </li>
                    <li><a href="">Polybius</a></li>
                    <li><a>Rot<span class="arrow-down"></span></a>
                      <ul class="dropdown">
                        <li><a href="">Rot13</a></li>
                        <li><a href="">Rot5</a></li>
                        <li><a href="">Rot18</a></li>
                        <li><a href="">Rot47</a></li>
                      </ul>
                    </li>
                    <li><a href="">Trifid</a></li>
                    <li><a href="">Vic</a></li>
                    <li><a>Vigenere<span class="arrow-down"></span></a>
                      <ul class="dropdown">
                        <li><a href="">Vigenere</a></li>
                        <li><a href="">Gronsfeld</a></li>
                        <li><a href="">Porta</a></li>
                      </ul>
                    </li>
                    <li><a href="">Zigzag(Railfence)</a></li>
                  </ul>
                </div>
              </nav>
          </div>
          </div>
    </head>
    <body>
      <div class="mbody">
        {%block content%}
      replace me
      {%endblock%}
  </div>
             </body>
</html>