{% extends "home.html"%}
{% block content %}

<!-- Form Ended -->
<div class="container technique-cont">
  <h1 class="text-center">{{technique_name}}</h1>
  <form method="POST"> {% csrf_token%}
    <div class="form-check">
      <!--radio-->
      <input class="form-check-input" type="radio" name="type" id="Encryption" value="Encryption" checked>
      <label class="form-check-label" for="Encryption">
        Encryption
      </label>
    </div>
    <div class="form-check">
      <!--radio-->
      <input class="form-check-input" type="radio" name="type" id="Decryption" value="Decryption">
      <label class="form-check-label" for="Decryption">
        Decryption
      </label>
    </div>
    <div class="form-group" style="width: 200px;">
      <!--plaintext textfield-->
      <label>Text</label>
      <input type="text" class="form-control" placeholder="Enter Text" name="plaintext" required>
    </div>
    <div class="form-group" style="width: 200px;">
      <!--Key textfield-->
      <label>Key</label>
      <input type="text" class="form-control" placeholder="Enter Key" name="key" required><br>
      <input type="submit" class="btn btn-primary text-center"> 
    </div>
   
  </form>
  <h3>{{plaintext}}</h3>
  <h3>{{key}}</h3>
  <h3>{{result_value}}</h3>
</div>

{% endblock content %}